<footer class="page-footer">
  <nav class="container">
    <div class="row">
      <div class="col 12 offset-10 s12">
        <img src="assets/img/movies.png" alt="" />
        <button>JUNTE-SE A COMUNIDADE</button>
      </div>

      <div id="testediv1" class="col l2">
        <h3>O BÁSICO</h3>
        <ul>
          <li><a>Sobre o Movies</a></li>
          <li><a>Contate-nos</a></li>
          <li><a>Suporte</a></li>
          <li><a>API</a></li>
          <li><a>Status do Sistema</a></li>
        </ul>
      </div>

      <div id="testediv" class="col l2">
        <h3>ENVOLVA-SE</h3>
        <ul>
          <li><a>Bíblia do colaborador</a></li>
          <li><a>Adicionar um novo filme</a></li>
          <li><a>Adicionar uma nova série</a></li>
        </ul>
      </div>

      <div id="testediv" class="col l2">
        <h3>COMUNIDADE</h3>
        <ul>
          <li><a>Diretrizes</a></li>
          <li><a>Discussões</a></li>
          <li><a>Placar de colaboradores</a></li>
          <li><a> Twitter</a></li>
        </ul>
      </div>

      <div id="testediv" class="col l2">
        <h3>LEGALIDADE</h3>
        <ul>
          <li><a>Termos de uso</a></li>
          <li><a>Termos de uso da API</a></li>
          <li><a>Política de privacidade</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
